
@{
    ViewBag.Title = "Index";
}
@*<link href="~/Styles/heading.css" rel="stylesheet" />
<link href="~/Styles/paragraph.css" rel="stylesheet" />*@
@Styles.Render("~/Styles/effects")
<h2>Index</h2>

<p>Here implementing the concept of bundling and minification in web applications</p>

