@model ViewPractice.Models.Emp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table style="margin:auto">
    <tr>
        <td>
            Employee Id:
        </td>
        <td>
            @Model.id
        </td>
    </tr>
    <tr>
        <td>
            Employee Name:
        </td>
        <td>
            @Model.name
        </td>
    </tr>
</table>