<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="HelloService.HelloServices" >
				<endpoint address="HelloServices" binding="basicHttpBinding" contract="HelloService.IHelloServices">
					
				</endpoint>
				<endpoint address="HelloServices" binding="netTcpBinding" contract="HelloService.IHelloServices">

				</endpoint>
				<endpoint address="mex" >
					
				</endpoint>
			</service>
		</services>
	</system.serviceModel>
</configuration>